                            <div class="item single-collection">
                                <div class="pr_wrap">
                                    <div class="pr_imga">
                                      <a href="{{ product.url | within: collection }}">
                                        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="" width="100%" />
                                        <img src="{{ product.images[1] | img_url: 'large' }}" alt="" class="sec-img" width="100%" />
                                      </a>
                                        </div>
                                    <div class="pr_heading">
                                        <h6><a href="{{ product.url | within: collection }}">{{product.title}}</a></h6>
                                        
                                    </div>
                                    
                                  
        <!-- Start of Judge.me code --> 
      <div style='{{ jm_style }}' class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}' data-auto-install='false'>
        {{ product.metafields.judgeme.badge }}
      </div>  
      <!-- End of Judge.me code -->
                                    
                                     
                                  
                                    <div class="collection-info">
                          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm{{product.id }}">
                              <div class="pr_price">
                                        <p>{{ product.selected_or_first_available_variant.price | money }} {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}<s>{{ product.selected_or_first_available_variant.compare_at_price | money }}</s>{% endif %}</p>
                                    </div>
                          <div class="product-color swatch-wrap swatch">
                            
                          
 
       
    
{% capture colors %}
                {% for option in product.options %}
                 
                    {% assign option_handle = option | handle %}
                	{% assign option_index = forloop.index0 %}
                	 
                	{% assign is_color = false %}
               {% assign is_size = false %}
                	{% capture downcased_option %}{{ option | downcase }}{% endcapture %}
                	{% if  downcased_option contains 'color' or downcased_option contains 'style' or downcased_option contains 'Style'%}
                		{% assign is_color = true %}
                        {% assign color_pos = option_index %}
                	{% endif %}
               {% if downcased_option contains 'size' or downcased_option contains 'colour' or downcased_option contains 'metal' %}
                		{% assign is_size = true %}
                        
                	{% endif %}
                
                	{% assign values = '' %}
                		{% for variant in product.variants %}
                			{% assign value = variant.options[option_index] %}
                			{% capture wrapped_value %},{{ value }},{% endcapture %}
                			{% unless values contains wrapped_value %}
                
                				{% if is_color %}
                					{{ value }},
                				{% endif %}
                	
                				{% capture values %}{{ values }}{{ wrapped_value }}{% endcapture %}
                			{% endunless %}
                	{% endfor %}
                 
                {% endfor %}
                {% endcapture %}
                
                {% assign colorsArray = colors | split: ',' %}
                {% assign colour_count = colorsArray.size | minus:1 %}  
               


 


{% for variant in product.variants %}

 {% if forloop.index <= colour_count %} 
         
                            <div data-value="{{variant.title | handle }}" class="variant-dd swatch-element color {{variant.title | handle }} soldouta">
                                <div class="img-variant" data-price="{{variant.price | money}}" style="display:none">
                                    
                  <img src="{{ variant.featured_image | product_img_url: 'original' }}" />
                </div>
                          
                                    <input {% if forloop.index == 1%} checked {% endif %}id="swatch-0-{{variant.title | handle }}{{product.handle }}" type="radio" name="id" value="{{variant.id}}"  />

                                    <label data-id="{{variant.id}}" for="swatch-0-{{variant.title | handle }}{{product.handle }}" class="thumb-dd bg--{{variant.title | handle }} {% if forloop.index == 1%}active{% endif %}" style=" background-size: contain;"> 
 
                              </label>
                                </div>
    
       		 
              {% else %}
                            <input  type="hidden" name="id" value="{{product.selected_or_first_available_variant.id}}"  />

        {% endif %}
                            
      {% endfor %} 
     
      </div>
  
 
                            
                               {% if product.available %}
                            <a href="javascript:;" class="btn add_to_cart_button">ADD TO CART</a>
                         
                          {% else %}
                            {% if product.handle == 'ipad-mini-case-6th-gen-2021'%}
                             <a href="javascript:;" class="btn add_to_cart_button" disabled>Coming Soon</a>
                            {% else %}
                        
                             <a href="javascript:;" class="btn add_to_cart_button" disabled>SOLD OUT</a>
                                {% endif %}
                             {% endif %}
                          </form>

                            </div>
                                    
        
                                
                                  
                                </div>
                            {% render 'preorder-now-collection-item', product: product %}</div>
