<!-- hero_banner section start -->
<div
  data-aos="fade-up"
  data-aos-duration="3000"
  class="hero_banner banner_right"
>
  <div class="banner-wrap-img {% if section.settings.fix %}bwi-inner{% endif %}">
    <img src="{{ section.settings.image | img_url: 'master'}}" class="img-fluid desktop-only">
    <img check222 src="{{ section.settings.image1 | img_url: 'master'}}" class="img-fluid mobile-only">
  </div>

  <div class="container">
    <div class="hero_b">
      <div class="hero_banner_wrap">
        <div class="main_heading_wrap">
          <h1>{{ section.settings.heading }}</h1>
          <span class="banner_text">{{ section.settings.text }}</span>

          {% if section.settings.btn_url %}
            <div class="cta">
              <a href="{{ section.settings.btn_url }}" class="btn2 btn3">{{ section.settings.btn_text }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<style>
        .banner_right .hero_b {
          max-width: 88% !important;
          width: 100%;
          justify-content: end;
      }
        .banner_right .main_heading_wrap {
          text-align: right;
      }
      .banner_right .main_heading_wrap .banner_text p{
        max-width: 480px;
            margin-inline: auto 0;
      }

      @media (max-width: 600px){
        .banner_right .hero_b {
        top: {{section.settings.ptop}}px;
        transform: translateY(15%) translateX(-50%);
    }
        .banner_right .main_heading_wrap .btn2 {
      margin-top: 12px;
  }
      }
</style>
<!-- hero_banner section end -->

{% schema %}
{
  "name": "Fullwidth Header txtright",
  "settings": [
    {
      "type": "checkbox",
      "id": "fix",
      "label": "Fix Scaling issue"
    },

   {
      "type": "image_picker",
      "id": "image",
      "label": "Image desktop"
    },
 {
      "type": "image_picker",
      "id": "image1",
      "label": "Image mobile"
    },
 {
      "type": "textarea",
      "id": "heading",
      "label": "Heading"
    },

 {
      "type": "richtext",
      "id": "text",
      "label": "text"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Link"
    },
    {
      "type": "number",
      "id": "ptop",
      "label": "Spacing top",
      "default": 0
    }





  ],

  "presets": [
    {
      "name": "Full width Header text right"
    }
  ]
}
{% endschema %}
