

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-553290788566467391.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-553290788566467391.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-553290788566467391.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-553290788566467391.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-553290788566467391.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-553290788566467391.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-553290788566467391.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-553290788566467391.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-553290788566467391.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-553290788566467391.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-553290788566467391.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-553290788566467391.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-553290788566467391.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-553290788566467391.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-553290788566467391.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-553290788566467391.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-553290788566467391.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-553290788566467391.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-553290788566467391.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-553290788566467391.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-553290788566467391.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-553290788566467391.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-553290788566467391.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-553290788566467391.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-553290788566467391.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-553290788566467391.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-553290788566467391.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-553290788566467391.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-553290788566467391.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-553290788566467391.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-553290788566467391.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-553290788566467391.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-553290788566467391.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-553290788566467391.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-553290788566467391.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-553290788566467391.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-553290788566467391.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-553290788566467391.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-553290788566467391.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-553290788566467391.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-553290788566467391.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-553290788566467391.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-553290788566467391.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-553290788566467391.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-553290788566467391.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-553290788566467391.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-553290788566467391.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-553290788566467391.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-553290788566467391.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-553290788566467391.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-553290788566467391.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-553290788566467391.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-553290788566467391.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-553290788566467391.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-553290788566467391.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-553290788566467391.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-553290788566467391.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-553290788566467391.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-553290788566467391.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-553290788566467391.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-553290788566467391.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-553290788566467391.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-553290788566467391.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-553290788566467391.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-553290788566467391.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-553290788566467391.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-553290788566467391.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-553290788566467391.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-553290788566467391.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-553290788566467391.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-553290788566467391.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-553290788566467391.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-553290788566467391.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-553290788566467391.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-553290788566467391.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-553290788566467391.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-553290788566467391.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-553290788566467391.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-553290788566467391.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-553290788566467391.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-553290788566467391.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-553290788566467391.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-553290788566467391.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-553290788566467391.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-553290788566467391.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-553290788566467391.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-553290788566467391.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-553290788566467391.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-553290788566467391.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-553290788566467391.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-553290788566467391.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-553290788566467391.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-553290788566467391.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-553290788566467391.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-553290788566467391.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-553290788566467391.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-553290788566467391.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-553290788566467391.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-553290788566467391.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-553290788566467391.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-553290788566467391.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-553290788566467391.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-553290788566467391.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-553290788566467391.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-553290788566467391.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-553290788566467391.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-553290788566467391.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-553290788566467391.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-553290788566467391.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-553290788566467391.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-553290788566467391.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-553290788566467391 .gp-rotate-0,.gps-553290788566467391 .gp-rotate-180,.gps-553290788566467391 .mobile\:gp-rotate-0,.gps-553290788566467391 .mobile\:gp-rotate-180,.gps-553290788566467391 .tablet\:gp-rotate-0,.gps-553290788566467391 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-553290788566467391 .gp-static{position:static}.gps-553290788566467391 .\!gp-relative{position:relative!important}.gps-553290788566467391 .gp-relative{position:relative}.gps-553290788566467391 .gp-left-0{left:0}.gps-553290788566467391 .gp-right-0{right:0}.gps-553290788566467391 .gp-z-1{z-index:1}.gps-553290788566467391 .gp-z-2{z-index:2}.gps-553290788566467391 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-553290788566467391 .gp-my-0{margin-bottom:0;margin-top:0}.gps-553290788566467391 .gp-mb-0{margin-bottom:0}.gps-553290788566467391 .gp-block{display:block}.gps-553290788566467391 .gp-inline-block{display:inline-block}.gps-553290788566467391 .\!gp-flex{display:flex!important}.gps-553290788566467391 .gp-flex{display:flex}.gps-553290788566467391 .gp-grid{display:grid}.gps-553290788566467391 .gp-contents{display:contents}.gps-553290788566467391 .\!gp-hidden{display:none!important}.gps-553290788566467391 .gp-hidden{display:none}.gps-553290788566467391 .gp-h-auto{height:auto}.gps-553290788566467391 .gp-h-full{height:100%}.gps-553290788566467391 .\!gp-min-h-full{min-height:100%!important}.gps-553290788566467391 .gp-w-full{width:100%}.gps-553290788566467391 .gp-max-w-full{max-width:100%}.gps-553290788566467391 .gp-flex-1{flex:1 1 0%}.gps-553290788566467391 .gp-flex-none{flex:none}.gps-553290788566467391 .gp-shrink-0{flex-shrink:0}.gps-553290788566467391 .gp-rotate-0{--tw-rotate:0deg}.gps-553290788566467391 .gp-rotate-0,.gps-553290788566467391 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-553290788566467391 .gp-rotate-180{--tw-rotate:180deg}.gps-553290788566467391 .gp-cursor-pointer{cursor:pointer}.gps-553290788566467391 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-553290788566467391 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-553290788566467391 .\!gp-flex-row{flex-direction:row!important}.gps-553290788566467391 .gp-flex-row{flex-direction:row}.gps-553290788566467391 .gp-flex-col{flex-direction:column}.gps-553290788566467391 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-553290788566467391 .gp-items-center{align-items:center}.gps-553290788566467391 .gp-justify-center{justify-content:center}.gps-553290788566467391 .gp-justify-between{justify-content:space-between}.gps-553290788566467391 .gp-gap-2{gap:8px}.gps-553290788566467391 .gp-overflow-hidden{overflow:hidden}.gps-553290788566467391 .gp-text-center{text-align:center}.gps-553290788566467391 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-553290788566467391 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-553290788566467391 .gp-duration-200{transition-duration:.2s}.gps-553290788566467391 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-553290788566467391 .tablet\:gp-static{position:static}.gps-553290788566467391 .tablet\:\!gp-relative{position:relative!important}.gps-553290788566467391 .tablet\:gp-left-0{left:0}.gps-553290788566467391 .tablet\:gp-right-0{right:0}.gps-553290788566467391 .tablet\:gp-block{display:block}.gps-553290788566467391 .tablet\:\!gp-flex{display:flex!important}.gps-553290788566467391 .tablet\:\!gp-hidden{display:none!important}.gps-553290788566467391 .tablet\:gp-hidden{display:none}.gps-553290788566467391 .tablet\:gp-h-auto{height:auto}.gps-553290788566467391 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-553290788566467391 .tablet\:gp-flex-none{flex:none}.gps-553290788566467391 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-553290788566467391 .tablet\:gp-rotate-0,.gps-553290788566467391 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-553290788566467391 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-553290788566467391 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-553290788566467391 .tablet\:gp-flex-row{flex-direction:row}.gps-553290788566467391 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-553290788566467391 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-553290788566467391 .mobile\:gp-absolute{position:absolute}.gps-553290788566467391 .mobile\:gp-left-0{left:0}.gps-553290788566467391 .mobile\:gp-right-0{right:0}.gps-553290788566467391 .mobile\:gp-block{display:block}.gps-553290788566467391 .mobile\:\!gp-hidden{display:none!important}.gps-553290788566467391 .mobile\:gp-hidden{display:none}.gps-553290788566467391 .mobile\:gp-h-auto{height:auto}.gps-553290788566467391 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-553290788566467391 .mobile\:gp-flex-none{flex:none}.gps-553290788566467391 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-553290788566467391 .mobile\:gp-rotate-0,.gps-553290788566467391 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-553290788566467391 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-553290788566467391 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-553290788566467391 .mobile\:gp-flex-row{flex-direction:row}.gps-553290788566467391 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-553290788566467391 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-553290788566467391 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-553290788566467391 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-553290788566467391 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--pos:static;--top:0px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gTrn01oxjH"}' data-id="gTrn01oxjH" id="gTrn01oxjH" data-same-height-subgrid-container class="gTrn01oxjH gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:75px;--pt:0px;--pl:25px;--pb:var(--g-s-2xl);--pr:25px;--mb-mobile:35px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:15px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ghzVsuxH0M gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel gp-data='{"id":"g-r6yu9b9S","setting":{"animationMode":"ease-in","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"gap":"","height":"35px","padding":{"bottom":"4px","left":"4px","linked":true,"right":"4px","top":"4px","type":"medium"},"shapeLinked":true,"shapeValue":"1/1","width":"35px"},"mobile":{"customShapeValue":"","gap":"","height":"25px","padding":{"bottom":"0px","left":"0px","linked":true,"right":"0px","top":"0px","type":"custom"},"shape":"","shapeLinked":true,"shapeValue":"1/1","width":"25px"}},"arrowCustom":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817550824440168\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z\" /></svg>","arrowCustomColor":"#57AEBA","arrowGapToEachSide":"-25","arrowIconSize":{"desktop":40,"mobile":20},"autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["workstation","luggage","laptop","inside main","sunglasses","airtag","model"],"controlOverContent":{"desktop":true},"dot":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":"16","mobile":"10"},"dotSize":{"desktop":8,"mobile":10},"dotStyle":{"desktop":"none","mobile":"inside"},"enableDrag":{"desktop":true},"itemNumber":{"desktop":4,"mobile":2,"tablet":2},"label":true,"loop":{"desktop":false},"navigationStyle":{"desktop":"outside","mobile":"none"},"pauseOnHover":true,"roundedArrow":{"desktop":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"custom"}},"rtl":false,"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":true,"mobile":true},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":50,"mobile":80},"sneakPeakType":{"desktop":"forward"},"text":"<p>Travel confidently with a covert passport pocket that offers secure, easy access to your important documents. My voice</p>","vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"fullWidth":{"desktop":false,"mobile":false,"tablet":false},"hasActiveShadow":false,"itemPadding":{"desktop":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"playSpeed":500,"roundedContent":{"radiusType":"none"},"sizeSetting":{"desktop":{"gap":"","height":"auto","shapeLinked":false,"width":"100%"},"mobile":{"customShapeValue":"","gap":"","height":"auto","shape":"","shapeLinked":false,"shapeValue":"","width":"100%"}},"spacing":{"desktop":"10"}}}' data-id="g-r6yu9b9S" id="gp-root-carousel-g-r6yu9b9S" style="--jc:center" class="gp-group/carousel gp-w-full gp-flex">
      <div
        
        class="g-r6yu9b9S gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--pos:static;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:40px;--mr:0px;--pl:15px;--pr:25px;--mb-mobile:12px;--mr-mobile:0px;--pl-mobile:15px;--pr-mobile:25px;--mb-tablet:0px;--mr-tablet:0px;--pl-tablet:15px;--pr-tablet:25px;--top:0px;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div class="gp-relative gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row" style="--h:100%;--h-tablet:100%;--h-mobile:100%;gap:-25px">
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-g-r6yu9b9S g-r6yu9b9S gp-carousel-action-back gem-slider-previous gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-relative tablet:!gp-flex tablet:!gp-relative mobile:!gp-hidden"
      style="--bg:transparent;--d:flex;--d-tablet:flex;--d-mobile:none;--left:3px;--right:initial;--top:initial;--bottom:;--left-tablet:3px;--right-tablet:initial;--top-tablet:initial;--bottom-tablet:;--left-mobile:3px;--right-mobile:initial;--top-mobile:initial;--bottom-mobile:;--w:35px;--w-mobile:25px;--h:35px;--h-mobile:25px;--pl:4px;--pr:4px;--pt:4px;--pb:4px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
    >
      <style type="text/css">
      .gp-carousel-arrow-g-r6yu9b9S {
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      .gp-carousel-arrow-g-r6yu9b9S::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-g-r6yu9b9S {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-g-r6yu9b9S::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-g-r6yu9b9S {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-g-r6yu9b9S::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
      style="--c:#57AEBA;--w:40px;--w-tablet:40px;--w-mobile:20px;--h:40px;--h-tablet:40px;--h-mobile:20px"
    >
        <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg>
    </div>
  
    </button>
  
          <div id="gp-carousel-g-r6yu9b9S" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none gp-carousel-slider-g-r6yu9b9S mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full" style="--cg-mobile:10px;--cg-tablet:10px;--cg:10px">
            
    
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-g-r6yu9b9S gp-child-item-g-r6yu9b9S gwoefEAFUh"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 3.5 - 7.142857142857143px);--minw-tablet:calc(100% / 1.5 - 3.3333333333333335px);--minw-mobile:calc(100% / 1.2 - 1.6666666666666663px);--maxw:calc(100% / 3.5 - 7.142857142857143px);--maxw-tablet:calc(100% / 1.5 - 3.3333333333333335px);--maxw-mobile:calc(100% / 1.2 - 1.6666666666666663px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px"
      data-index="0"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gHKwKIr3nS"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--hvr-bblr:999999px;--hvr-bbrr:999999px;--hvr-btlr:999999px;--hvr-btrr:999999px;--focus-bblr:999999px;--focus-bbrr:999999px;--focus-btlr:999999px;--focus-btrr:999999px;-undefined-bblr:999999px;-undefined-bbrr:999999px;-undefined-btlr:999999px;-undefined-btrr:999999px;--mb:15px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816416524 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gHKwKIr3nS"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-1_1024x.jpg?v=1744746450" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-1_1024x.jpg?v=1744746450" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-1_1024x.jpg?v=1744746450" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-1_1024x.jpg?v=1744746450" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-1.jpg?v=1744746450" data-src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-1.jpg?v=1744746450"
        alt=""
        width="100%"
        style="--aspect:3/4;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gHKwKIr3nS">
        .gHKwKIr3nS {

}
.gHKwKIr3nS > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="geHf32Lp5Q"
        class="geHf32Lp5Q"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:10px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816416525"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggeHf32Lp5Q_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-geHf32Lp5Q">
        .geHf32Lp5Q {

}
.geHf32Lp5Q p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJhxzx16ZG"
        class="gJhxzx16ZG"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:0px;--mb-mobile:14px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816416526"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJhxzx16ZG_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gJhxzx16ZG">
        .gJhxzx16ZG {

}
.gJhxzx16ZG p {

}
      </style>
    
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-g-r6yu9b9S gp-child-item-g-r6yu9b9S gPESESKGfc"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 3.5 - 7.142857142857143px);--minw-tablet:calc(100% / 1.5 - 3.3333333333333335px);--minw-mobile:calc(100% / 1.2 - 1.6666666666666663px);--maxw:calc(100% / 3.5 - 7.142857142857143px);--maxw-tablet:calc(100% / 1.5 - 3.3333333333333335px);--maxw-mobile:calc(100% / 1.2 - 1.6666666666666663px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px"
      data-index="1"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="grhssi-hnn"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--hvr-bblr:999999px;--hvr-bbrr:999999px;--hvr-btlr:999999px;--hvr-btrr:999999px;--focus-bblr:999999px;--focus-bbrr:999999px;--focus-btlr:999999px;--focus-btrr:999999px;-undefined-bblr:999999px;-undefined-bbrr:999999px;-undefined-btlr:999999px;-undefined-btrr:999999px;--mb:15px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816416527 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto grhssi-hnn"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-7_1024x.jpg?v=1744746522" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTk5MCIgaGVpZ2h0PSIyNjgyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTkwLTI2ODIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5OTAiIGhlaWdodD0iMjY4MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTk5MCIgaGVpZ2h0PSIyNjgyIiBmaWxsPSJ1cmwoI2ctMTk5MC0yNjgyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTk5MCIgdG89IjE5OTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-7_1024x.jpg?v=1744746522" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTk5MCIgaGVpZ2h0PSIyNjgyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTkwLTI2ODIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5OTAiIGhlaWdodD0iMjY4MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTk5MCIgaGVpZ2h0PSIyNjgyIiBmaWxsPSJ1cmwoI2ctMTk5MC0yNjgyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTk5MCIgdG89IjE5OTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-7.jpg?v=1744746522" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTk5MCIgaGVpZ2h0PSIyNjgyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTkwLTI2ODIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5OTAiIGhlaWdodD0iMjY4MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTk5MCIgaGVpZ2h0PSIyNjgyIiBmaWxsPSJ1cmwoI2ctMTk5MC0yNjgyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTk5MCIgdG89IjE5OTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-7.jpg?v=1744746522"
        alt=""
        width="100%"
        style="--aspect:3/4;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-grhssi-hnn">
        .grhssi-hnn {

}
.grhssi-hnn > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVnRynl-Ql"
        class="gVnRynl-Ql"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:10px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816416529"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVnRynl-Ql_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gVnRynl-Ql">
        .gVnRynl-Ql {

}
.gVnRynl-Ql p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7aajnyvkC"
        class="g7aajnyvkC"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb-mobile:14px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816416530"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7aajnyvkC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g7aajnyvkC">
        .g7aajnyvkC {

}
.g7aajnyvkC p {

}
      </style>
    
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-g-r6yu9b9S gp-child-item-g-r6yu9b9S gK7EaAraco"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 3.5 - 7.142857142857143px);--minw-tablet:calc(100% / 1.5 - 3.3333333333333335px);--minw-mobile:calc(100% / 1.2 - 1.6666666666666663px);--maxw:calc(100% / 3.5 - 7.142857142857143px);--maxw-tablet:calc(100% / 1.5 - 3.3333333333333335px);--maxw-mobile:calc(100% / 1.2 - 1.6666666666666663px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="2"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gvVWxPG2DR"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--hvr-bblr:999999px;--hvr-bbrr:999999px;--hvr-btlr:999999px;--hvr-btrr:999999px;--focus-bblr:999999px;--focus-bbrr:999999px;--focus-btlr:999999px;--focus-btrr:999999px;-undefined-bblr:999999px;-undefined-bbrr:999999px;-undefined-btlr:999999px;-undefined-btrr:999999px;--mb:15px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816416536 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gvVWxPG2DR"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-2_1024x.jpg?v=1744746450" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-2_1024x.jpg?v=1744746450" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-2_1024x.jpg?v=1744746450" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-2_1024x.jpg?v=1744746450" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-2.jpg?v=1744746450" data-src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-2.jpg?v=1744746450"
        alt=""
        width="100%"
        style="--aspect:3/4;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gvVWxPG2DR">
        .gvVWxPG2DR {

}
.gvVWxPG2DR > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gu5wdNXqSS"
        class="gu5wdNXqSS"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:10px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816416537"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggu5wdNXqSS_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gu5wdNXqSS">
        .gu5wdNXqSS {

}
.gu5wdNXqSS p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gry_0uvQfN"
        class="gry_0uvQfN"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb-mobile:14px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816416538"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggry_0uvQfN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gry_0uvQfN">
        .gry_0uvQfN {

}
.gry_0uvQfN p {

}
      </style>
    
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-g-r6yu9b9S gp-child-item-g-r6yu9b9S gaiQe5Msk2"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 3.5 - 7.142857142857143px);--minw-tablet:calc(100% / 1.5 - 3.3333333333333335px);--minw-mobile:calc(100% / 1.2 - 1.6666666666666663px);--maxw:calc(100% / 3.5 - 7.142857142857143px);--maxw-tablet:calc(100% / 1.5 - 3.3333333333333335px);--maxw-mobile:calc(100% / 1.2 - 1.6666666666666663px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px"
      data-index="3"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gqxhSVujfy"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--hvr-bblr:999999px;--hvr-bbrr:999999px;--hvr-btlr:999999px;--hvr-btrr:999999px;--focus-bblr:999999px;--focus-bbrr:999999px;--focus-btlr:999999px;--focus-btrr:999999px;-undefined-bblr:999999px;-undefined-bbrr:999999px;-undefined-btlr:999999px;-undefined-btrr:999999px;--mb:15px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816416539 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gqxhSVujfy"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-3_1024x.jpg?v=1744746450" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-3_1024x.jpg?v=1744746450" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-3_1024x.jpg?v=1744746450" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-3_1024x.jpg?v=1744746450" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-3.jpg?v=1744746450" data-src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-3.jpg?v=1744746450"
        alt=""
        width="100%"
        style="--aspect:3/4;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gqxhSVujfy">
        .gqxhSVujfy {

}
.gqxhSVujfy > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJ60TSZgGL"
        class="gJ60TSZgGL"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:10px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816416540"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJ60TSZgGL_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gJ60TSZgGL">
        .gJ60TSZgGL {

}
.gJ60TSZgGL p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3sWZxONuV"
        class="g3sWZxONuV"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:0px;--mb-mobile:14px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816416541"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3sWZxONuV_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g3sWZxONuV">
        .g3sWZxONuV {

}
.g3sWZxONuV p {

}
      </style>
    
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-g-r6yu9b9S gp-child-item-g-r6yu9b9S gXEs-4bw2H"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 3.5 - 7.142857142857143px);--minw-tablet:calc(100% / 1.5 - 3.3333333333333335px);--minw-mobile:calc(100% / 1.2 - 1.6666666666666663px);--maxw:calc(100% / 3.5 - 7.142857142857143px);--maxw-tablet:calc(100% / 1.5 - 3.3333333333333335px);--maxw-mobile:calc(100% / 1.2 - 1.6666666666666663px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px"
      data-index="4"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gldIKR8it5"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--hvr-bblr:999999px;--hvr-bbrr:999999px;--hvr-btlr:999999px;--hvr-btrr:999999px;--focus-bblr:999999px;--focus-bbrr:999999px;--focus-btlr:999999px;--focus-btrr:999999px;-undefined-bblr:999999px;-undefined-bbrr:999999px;-undefined-btlr:999999px;-undefined-btrr:999999px;--mb:15px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816416543 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gldIKR8it5"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-4_1024x.jpg?v=1744746450" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-4_1024x.jpg?v=1744746450" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-4_1024x.jpg?v=1744746450" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-4_1024x.jpg?v=1744746450" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-4.jpg?v=1744746450" data-src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-4.jpg?v=1744746450"
        alt=""
        width="100%"
        style="--aspect:3/4;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gldIKR8it5">
        .gldIKR8it5 {

}
.gldIKR8it5 > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4xxwXUUFu"
        class="g4xxwXUUFu"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:10px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816416564"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4xxwXUUFu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g4xxwXUUFu">
        .g4xxwXUUFu {

}
.g4xxwXUUFu p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBCUuR3Zfc"
        class="gBCUuR3Zfc"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb-mobile:14px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816416565"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBCUuR3Zfc_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gBCUuR3Zfc">
        .gBCUuR3Zfc {

}
.gBCUuR3Zfc p {

}
      </style>
    
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-g-r6yu9b9S gp-child-item-g-r6yu9b9S gMfgu1mvLb"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 3.5 - 7.142857142857143px);--minw-tablet:calc(100% / 1.5 - 3.3333333333333335px);--minw-mobile:calc(100% / 1.2 - 1.6666666666666663px);--maxw:calc(100% / 3.5 - 7.142857142857143px);--maxw-tablet:calc(100% / 1.5 - 3.3333333333333335px);--maxw-mobile:calc(100% / 1.2 - 1.6666666666666663px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="5"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gEz80u4r8n"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--hvr-bblr:999999px;--hvr-bbrr:999999px;--hvr-btlr:999999px;--hvr-btrr:999999px;--focus-bblr:999999px;--focus-bbrr:999999px;--focus-btlr:999999px;--focus-btrr:999999px;-undefined-bblr:999999px;-undefined-bbrr:999999px;-undefined-btlr:999999px;-undefined-btrr:999999px;--mb:15px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816416567 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gEz80u4r8n"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-5_1024x.jpg?v=1744746450" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-5_1024x.jpg?v=1744746450" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-5_1024x.jpg?v=1744746450" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-5_1024x.jpg?v=1744746450" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-5.jpg?v=1744746450" data-src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-5.jpg?v=1744746450"
        alt=""
        width="100%"
        style="--aspect:3/4;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gEz80u4r8n">
        .gEz80u4r8n {

}
.gEz80u4r8n > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gH2FGW0_bE"
        class="gH2FGW0_bE"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:10px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816416568"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggH2FGW0_bE_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gH2FGW0_bE">
        .gH2FGW0_bE {

}
.gH2FGW0_bE p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGgI8wVI10"
        class="gGgI8wVI10"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb-mobile:14px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816416569"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGgI8wVI10_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gGgI8wVI10">
        .gGgI8wVI10 {

}
.gGgI8wVI10 p {

}
      </style>
    
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-g-r6yu9b9S gp-child-item-g-r6yu9b9S gd8BpjedNQ"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 3.5 - 7.142857142857143px);--minw-tablet:calc(100% / 1.5 - 3.3333333333333335px);--minw-mobile:calc(100% / 1.2 - 1.6666666666666663px);--maxw:calc(100% / 3.5 - 7.142857142857143px);--maxw-tablet:calc(100% / 1.5 - 3.3333333333333335px);--maxw-mobile:calc(100% / 1.2 - 1.6666666666666663px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="6"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gsnKwAX4xf"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--hvr-bblr:999999px;--hvr-bbrr:999999px;--hvr-btlr:999999px;--hvr-btrr:999999px;--focus-bblr:999999px;--focus-bbrr:999999px;--focus-btlr:999999px;--focus-btrr:999999px;-undefined-bblr:999999px;-undefined-bbrr:999999px;-undefined-btlr:999999px;-undefined-btrr:999999px;--mb:15px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816416570 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gsnKwAX4xf"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-6_1024x.jpg?v=1744746449" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-6_1024x.jpg?v=1744746449" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-6_1024x.jpg?v=1744746449" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-6_1024x.jpg?v=1744746449" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-6.jpg?v=1744746449" data-src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Weekender-PDP-6.jpg?v=1744746449"
        alt=""
        width="100%"
        style="--aspect:3/4;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gsnKwAX4xf">
        .gsnKwAX4xf {

}
.gsnKwAX4xf > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKC0vptPMu"
        class="gKC0vptPMu"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:10px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816416571"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKC0vptPMu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gKC0vptPMu">
        .gKC0vptPMu {

}
.gKC0vptPMu p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5_MmyQ9dU"
        class="g5_MmyQ9dU"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb-mobile:14px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816416572"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5_MmyQ9dU_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g5_MmyQ9dU">
        .g5_MmyQ9dU {

}
.g5_MmyQ9dU p {

}
      </style>
    
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-g-r6yu9b9S g-r6yu9b9S gp-carousel-action-next gem-slider-next gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-relative tablet:!gp-flex tablet:!gp-relative mobile:!gp-hidden"
      style="--bg:transparent;--d:flex;--d-tablet:flex;--d-mobile:none;--right:3px;--left:initial;--top:;--bottom:initial;--right-tablet:3px;--left-tablet:initial;--top-tablet:;--bottom-tablet:initial;--right-mobile:3px;--left-mobile:initial;--top-mobile:;--bottom-mobile:initial;--w:35px;--w-mobile:25px;--h:35px;--h-mobile:25px;--pl:4px;--pr:4px;--pt:4px;--pb:4px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
    >
      <style type="text/css">
      .gp-carousel-arrow-g-r6yu9b9S {
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      .gp-carousel-arrow-g-r6yu9b9S::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-g-r6yu9b9S {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-g-r6yu9b9S::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-g-r6yu9b9S {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-g-r6yu9b9S::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
      style="--c:#57AEBA;--w:40px;--w-tablet:40px;--w-mobile:20px;--h:40px;--h-tablet:40px;--h-mobile:20px"
    >
        <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg>
    </div>
  
    </button>
  
        </div>
        
    
        <div class="gp-carousel-dot-container gp-carousel-dot-container-g-r6yu9b9S gp-z-2 gp-flex gp-flex-1 gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-static gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-absolute mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0" style="--bottom:16px;--bottom-tablet:16px;--bottom-mobile:10px;--d:none;--d-tablet:none;--d-mobile:flex">
          <!-- item render by js -->
        </div>
      
  
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-carousel-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-553290788566467391 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/erica-336/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=553290072313561912&sectionId=553290788566467391)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggeHf32Lp5Q_text","label":"ggeHf32Lp5Q_text","default":"<p><strong>WORKSATION COMPARTMENT</strong></p>"},{"type":"html","id":"ggJhxzx16ZG_text","label":"ggJhxzx16ZG_text","default":"<p>Exandable \"work station\" style pocket to access and organize all your tech.</p>"},{"type":"html","id":"ggVnRynl-Ql_text","label":"ggVnRynl-Ql_text","default":"<p>LUGGAGE PASS THROUGH</p>"},{"type":"html","id":"gg7aajnyvkC_text","label":"gg7aajnyvkC_text","default":"<p>Streamline your travel with a convenient luggage pass-through that secures your bag to any suitcase for easy mobility.</p>"},{"type":"html","id":"ggu5wdNXqSS_text","label":"ggu5wdNXqSS_text","default":"<p><strong>LAPTOP &amp; VALUABLES POCKET</strong></p>"},{"type":"html","id":"ggry_0uvQfN_text","label":"ggry_0uvQfN_text","default":"<p>Keep your essentials safe with ultra-soft faux fur-lined hidden pockets. Your passport stays scratch-free, and your laptop is suspended for ultimate drop protection.</p>"},{"type":"html","id":"ggJ60TSZgGL_text","label":"ggJ60TSZgGL_text","default":"<p>SPACIOUS MAIN COMPARTMENT</p>"},{"type":"html","id":"gg3sWZxONuV_text","label":"gg3sWZxONuV_text","default":"<p>Designed for effortless packing, the main compartment features spandura slip pockets to keep your essentials neatly organized.</p>"},{"type":"html","id":"gg4xxwXUUFu_text","label":"gg4xxwXUUFu_text","default":"<p>SUNGLASS POCKET</p>"},{"type":"html","id":"ggBCUuR3Zfc_text","label":"ggBCUuR3Zfc_text","default":"<p>A quick access top pocket with plush faux fur lining keeps your sunglasses scratch-free and ready when you need them.</p>"},{"type":"html","id":"ggH2FGW0_bE_text","label":"ggH2FGW0_bE_text","default":"<p><strong>AIRTAG POCKET</strong></p>"},{"type":"html","id":"ggGgI8wVI10_text","label":"ggGgI8wVI10_text","default":"<p>A hidden AirTag pocket keeps your bag trackable without anyone knowing.</p>"},{"type":"html","id":"ggKC0vptPMu_text","label":"ggKC0vptPMu_text","default":"<p><strong>PERFECTLY SIZED</strong></p>"},{"type":"html","id":"gg5_MmyQ9dU_text","label":"gg5_MmyQ9dU_text","default":"<p>Perfectly sized for everyday carry, this bag sits comfortably on your back for a versatile fit.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
