

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-555321737387508546.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-555321737387508546.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-555321737387508546.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-555321737387508546.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-555321737387508546.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-555321737387508546.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-555321737387508546.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-555321737387508546.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-555321737387508546.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-555321737387508546.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-555321737387508546.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-555321737387508546.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-555321737387508546.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-555321737387508546.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-555321737387508546.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-555321737387508546.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-555321737387508546.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-555321737387508546.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-555321737387508546.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-555321737387508546.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-555321737387508546.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-555321737387508546.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-555321737387508546.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-555321737387508546.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-555321737387508546.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-555321737387508546.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-555321737387508546.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-555321737387508546.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-555321737387508546.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-555321737387508546.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-555321737387508546.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-555321737387508546.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-555321737387508546.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-555321737387508546.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-555321737387508546.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-555321737387508546.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-555321737387508546.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-555321737387508546.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-555321737387508546.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-555321737387508546.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-555321737387508546.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-555321737387508546.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-555321737387508546.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-555321737387508546.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-555321737387508546.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-555321737387508546.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-555321737387508546.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-555321737387508546.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-555321737387508546.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-555321737387508546.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-555321737387508546.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-555321737387508546.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-555321737387508546.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-555321737387508546.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-555321737387508546.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-555321737387508546.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-555321737387508546.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-555321737387508546.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-555321737387508546.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-555321737387508546.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-555321737387508546.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-555321737387508546.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-555321737387508546.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-555321737387508546.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-555321737387508546.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-555321737387508546.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-555321737387508546.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-555321737387508546.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-555321737387508546.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-555321737387508546.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-555321737387508546.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-555321737387508546.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-555321737387508546.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-555321737387508546.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-555321737387508546.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-555321737387508546.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-555321737387508546.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-555321737387508546.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-555321737387508546.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-555321737387508546.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-555321737387508546.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-555321737387508546.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-555321737387508546.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-555321737387508546.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-555321737387508546.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-555321737387508546.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-555321737387508546.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-555321737387508546.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-555321737387508546.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-555321737387508546.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-555321737387508546 .gp-invisible{visibility:hidden}.gps-555321737387508546 .gp-absolute{position:absolute}.gps-555321737387508546 .gp-relative{position:relative}.gps-555321737387508546 .gp-sticky{position:sticky}.gps-555321737387508546 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-555321737387508546 .gp-mb-0{margin-bottom:0}.gps-555321737387508546 .gp-flex{display:flex}.gps-555321737387508546 .gp-inline-flex{display:inline-flex}.gps-555321737387508546 .gp-grid{display:grid}.gps-555321737387508546 .\!gp-hidden{display:none!important}.gps-555321737387508546 .gp-hidden{display:none}.gps-555321737387508546 .gp-h-5{height:20px}.gps-555321737387508546 .gp-h-full{height:100%}.gps-555321737387508546 .gp-w-5{width:20px}.gps-555321737387508546 .gp-max-w-full{max-width:100%}.gps-555321737387508546 .gp-cursor-default{cursor:default}.gps-555321737387508546 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-555321737387508546 .gp-flex-col{flex-direction:column}.gps-555321737387508546 .gp-items-center{align-items:center}.gps-555321737387508546 .gp-justify-center{justify-content:center}.gps-555321737387508546 .gp-overflow-hidden{overflow:hidden}.gps-555321737387508546 .gp-break-words{overflow-wrap:break-word}.gps-555321737387508546 .gp-text-center{text-align:center}.gps-555321737387508546 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-555321737387508546 .gp-no-underline{text-decoration-line:none}.gps-555321737387508546 .gp-opacity-25{opacity:.25}.gps-555321737387508546 .gp-opacity-30{opacity:.3}.gps-555321737387508546 .gp-opacity-75{opacity:.75}.gps-555321737387508546 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555321737387508546 .gp-duration-200{transition-duration:.2s}.gps-555321737387508546 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555321737387508546 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-555321737387508546 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-555321737387508546 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-555321737387508546 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-555321737387508546 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-555321737387508546 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1024px){.gps-555321737387508546 .tablet\:\!gp-hidden{display:none!important}.gps-555321737387508546 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-555321737387508546 .mobile\:\!gp-hidden{display:none!important}.gps-555321737387508546 .mobile\:gp-hidden{display:none}}.gps-555321737387508546 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-555321737387508546 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>


    
    <gp-sticky
    data-id="gpxFscpk4s"
      gp-data='{"uid":"gpxFscpk4s","setting":{"display":{"desktop":"always","tablet":"always","mobile":"after-first-cart-button"}},"advanced":{"d":{"desktop":false,"mobile":true,"tablet":false}}}'
      id="gpxFscpk4s"
      data-id="gpxFscpk4s"
      class="sticky-wrapper  gpxFscpk4s undefined {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;margin:0 auto;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%);--top:auto;--bottom:0;--pos:fixed;--d:block;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--d-tablet:block;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--d-mobile:none;z-index:999"
    >
      <style>.drawer-page-content {
       transform: none !important;
      -webkit-transform: none !important;
  }</style>
      <div  style="--m:0 auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:0px 0px 10px 0px #0000001a;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        <div
      data-same-height-display-contents
      
      class="gW2JVlbtqY gp-relative gp-flex gp-flex-col"
    >
      
    
      {%- assign gpBkProduct = product -%}
      
      {%- liquid
        if request.page_type != 'product'
          assign product = all_products['weekender-backpack']
          assign productId = '7909493309474' | times: 1
          if product == empty or product == null
            paginate collections.all.products by 100000
              for item in collections.all.products
                if item.id == productId
                  assign product = item
                endif
              endfor
            endpaginate
          endif
        endif
      -%}
    
    
    {% if product != empty and product != null %}
      
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gPH1fCex0f" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
    
      <gp-product
        data-uid="gPH1fCex0f"
        data-id="gPH1fCex0f"
        
        
        gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'
      >
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
    

    

    
    <gp-row gp-data='{"uid":"gPH1fCex0f"}' data-id="gPH1fCex0f-row" id="gPH1fCex0f" data-same-height-subgrid-container class="gPH1fCex0f gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--pt:16px;--pl:15px;--pb:16px;--pr:15px;--pt-mobile:21px;--pl-mobile:15px;--pb-mobile:21px;--pr-mobile:15px;--cg:30px;--cg-tablet:12px;--rg:0px;--gtc:minmax(0, 10fr) minmax(0, 2fr);--gtc-tablet:minmax(0, 9fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--d-mobile:none"
      class="g6ki3bRUuA gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gEyVPzpohA gp-relative gp-flex gp-flex-col"
    >
      
    {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
      assign is_in_stock = variant.available
    -%}
    <gp-product-button
      
      gp-data-wrapper="true"
      gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/cart"
      class="gp-product-button"
      gp-label-out-of-stock="{{ section.settings.ggA6DKbdpsw_outOfStockLabel }}"
      gp-label-unavailable="{{ section.settings.ggA6DKbdpsw_unavailableLabel }}"
      gp-data='{"styles":{"errorTypo":{"attrs":{"color":"error"},"type":"paragraph-2"},"successTypo":{"attrs":{"color":"success"},"type":"paragraph-2"}},"setting":{"errorType":"built-in","actionEffect":"continue-shopping","enableMessage":true,"label":"Add to cart","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","outOfStockLabel":"Out of stock","customURL":{"link":"/cart","target":"_self"}},"variantID":"{{variant.id}}","disabled":"{{variant.available}}","totalVariant":"{{total_combinations}}"}'
      data-variant-selection-required-message=""
    >
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:left" class="{% unless variant.available %} !gp-hidden {% endunless %}">
        <style>[data-id="gA6DKbdpsw"].gp-button-base::before, [data-id="gA6DKbdpsw-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="gA6DKbdpsw"]:hover::before, [data-id="gA6DKbdpsw-interaction"]:hover::before {
    border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
    
  }</style>
        
        <button
          data-id="gA6DKbdpsw" dataId="gA6DKbdpsw" data-state="idle" aria-label="Add to cart"
          name="add" gp-data-hidden="{% unless variant.available %}true{% endunless %}"
          type="submit"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:14px;--pb:14px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--focus-bblr:6px;--focus-bbrr:6px;--focus-btlr:6px;--focus-btrr:6px;-undefined-bblr:6px;-undefined-bbrr:6px;-undefined-btlr:6px;-undefined-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#000000;--bg:#151515;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:capitalize"
          class="gp-button-atc tcustomizer-submit-button gA6DKbdpsw gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3  undefined"
        >
        
  <svg
    class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
  >
    <circle
      class="gp-opacity-25"
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="4"
    ></circle>
    <path
      class="gp-opacity-75"
      fill="currentColor"
      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
    ></path>
  </svg>

        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:capitalize;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggA6DKbdpsw_label | downcase }}
    </span>
        </div>
        
    
  <div style="--mr:2px;--ml:2px;display:block !important"></div>

    
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:left" class="{% if variant.available %} !gp-hidden {% endif %}">
        <style>[data-id="gA6DKbdpsw-sold-out"].gp-button-base::before, [data-id="gA6DKbdpsw-sold-out-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="gA6DKbdpsw-sold-out"]:hover::before, [data-id="gA6DKbdpsw-sold-out-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gA6DKbdpsw-sold-out" dataId="gA6DKbdpsw-sold-out" data-state="idle" aria-label="{{ section.settings.ggA6DKbdpsw_outOfStockLabel }}"
          gp-data-hidden="{% if variant.available %}true{% endif %}"
          type="button"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:14px;--pb:14px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--focus-bblr:6px;--focus-bbrr:6px;--focus-btlr:6px;--focus-btrr:6px;-undefined-bblr:6px;-undefined-bbrr:6px;-undefined-btlr:6px;-undefined-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--bg:#151515;--hvr-bg:#151515;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:capitalize"
          class="gp-cursor-default gp-opacity-30 btn-disabled gp-button-sold-out gA6DKbdpsw-sold-out gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:capitalize;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggA6DKbdpsw_outOfStockLabel }}
    </span>
        </div>
        
    
  <div style="--mr:2px;--ml:2px;display:block !important"></div>

    
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ 'gempages.Product.product_not_found' | t }}</div>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-sticky-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-555321737387508546 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/erica-336/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=555321737336587074&sectionId=555321737387508546)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggA6DKbdpsw_label","label":"ggA6DKbdpsw_label","default":"Add to cart"},{"type":"html","id":"ggA6DKbdpsw_outOfStockLabel","label":"ggA6DKbdpsw_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"ggA6DKbdpsw_unavailableLabel","label":"ggA6DKbdpsw_unavailableLabel","default":"Unavailable"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
