

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-572941477710464116.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-572941477710464116.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-572941477710464116.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-572941477710464116.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-572941477710464116.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-572941477710464116.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-572941477710464116.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-572941477710464116.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-572941477710464116.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-572941477710464116.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-572941477710464116.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-572941477710464116.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-572941477710464116.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-572941477710464116.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-572941477710464116.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-572941477710464116.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-572941477710464116.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-572941477710464116.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-572941477710464116.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-572941477710464116.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-572941477710464116.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-572941477710464116.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-572941477710464116.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-572941477710464116.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-572941477710464116.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-572941477710464116.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-572941477710464116.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-572941477710464116.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-572941477710464116.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-572941477710464116.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-572941477710464116.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-572941477710464116.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-572941477710464116.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-572941477710464116.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-572941477710464116.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-572941477710464116.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-572941477710464116.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-572941477710464116.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-572941477710464116.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-572941477710464116.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-572941477710464116.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-572941477710464116.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-572941477710464116.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-572941477710464116.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-572941477710464116.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-572941477710464116.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-572941477710464116.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-572941477710464116.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-572941477710464116.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-572941477710464116.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-572941477710464116.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-572941477710464116.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-572941477710464116.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-572941477710464116.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-572941477710464116.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-572941477710464116.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-572941477710464116.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-572941477710464116.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-572941477710464116.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-572941477710464116.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-572941477710464116.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-572941477710464116.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-572941477710464116.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-572941477710464116.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-572941477710464116.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-572941477710464116.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-572941477710464116.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-572941477710464116.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-572941477710464116.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-572941477710464116.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-572941477710464116.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-572941477710464116.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-572941477710464116.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-572941477710464116.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-572941477710464116.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-572941477710464116.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-572941477710464116.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-572941477710464116.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-572941477710464116.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-572941477710464116.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-572941477710464116.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-572941477710464116.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-572941477710464116.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-572941477710464116.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-572941477710464116.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-572941477710464116.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-572941477710464116 .gp-rotate-0,.gps-572941477710464116 .gp-rotate-180,.gps-572941477710464116 .mobile\:gp-rotate-0,.gps-572941477710464116 .mobile\:gp-rotate-180,.gps-572941477710464116 .tablet\:gp-rotate-0,.gps-572941477710464116 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-572941477710464116 .\!gp-absolute{position:absolute!important}.gps-572941477710464116 .gp-absolute{position:absolute}.gps-572941477710464116 .gp-relative{position:relative}.gps-572941477710464116 .gp-left-0{left:0}.gps-572941477710464116 .gp-right-0{right:0}.gps-572941477710464116 .gp-z-1{z-index:1}.gps-572941477710464116 .gp-z-2{z-index:2}.gps-572941477710464116 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-572941477710464116 .gp-my-0{margin-bottom:0;margin-top:0}.gps-572941477710464116 .gp-mb-0{margin-bottom:0}.gps-572941477710464116 .gp-block{display:block}.gps-572941477710464116 .gp-inline-block{display:inline-block}.gps-572941477710464116 .\!gp-flex{display:flex!important}.gps-572941477710464116 .gp-flex{display:flex}.gps-572941477710464116 .gp-grid{display:grid}.gps-572941477710464116 .gp-contents{display:contents}.gps-572941477710464116 .\!gp-hidden{display:none!important}.gps-572941477710464116 .gp-hidden{display:none}.gps-572941477710464116 .gp-h-auto{height:auto}.gps-572941477710464116 .gp-h-full{height:100%}.gps-572941477710464116 .\!gp-min-h-full{min-height:100%!important}.gps-572941477710464116 .gp-w-full{width:100%}.gps-572941477710464116 .\!gp-max-w-none{max-width:none!important}.gps-572941477710464116 .gp-max-w-full{max-width:100%}.gps-572941477710464116 .gp-flex-1{flex:1 1 0%}.gps-572941477710464116 .gp-flex-none{flex:none}.gps-572941477710464116 .gp-shrink-0{flex-shrink:0}.gps-572941477710464116 .gp-rotate-0{--tw-rotate:0deg}.gps-572941477710464116 .gp-rotate-0,.gps-572941477710464116 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-572941477710464116 .gp-rotate-180{--tw-rotate:180deg}.gps-572941477710464116 .gp-cursor-pointer{cursor:pointer}.gps-572941477710464116 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-572941477710464116 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-572941477710464116 .\!gp-flex-row{flex-direction:row!important}.gps-572941477710464116 .gp-flex-row{flex-direction:row}.gps-572941477710464116 .gp-flex-col{flex-direction:column}.gps-572941477710464116 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-572941477710464116 .gp-items-center{align-items:center}.gps-572941477710464116 .gp-justify-center{justify-content:center}.gps-572941477710464116 .gp-justify-between{justify-content:space-between}.gps-572941477710464116 .gp-gap-2{gap:8px}.gps-572941477710464116 .gp-overflow-hidden{overflow:hidden}.gps-572941477710464116 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-572941477710464116 .gp-text-center{text-align:center}.gps-572941477710464116 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-572941477710464116 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-572941477710464116 .gp-duration-200{transition-duration:.2s}.gps-572941477710464116 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-572941477710464116 .tablet\:\!gp-absolute{position:absolute!important}.gps-572941477710464116 .tablet\:gp-absolute{position:absolute}.gps-572941477710464116 .tablet\:gp-left-0{left:0}.gps-572941477710464116 .tablet\:gp-right-0{right:0}.gps-572941477710464116 .tablet\:gp-z-2{z-index:2}.gps-572941477710464116 .tablet\:gp-block{display:block}.gps-572941477710464116 .tablet\:\!gp-flex{display:flex!important}.gps-572941477710464116 .tablet\:\!gp-hidden{display:none!important}.gps-572941477710464116 .tablet\:gp-hidden{display:none}.gps-572941477710464116 .tablet\:gp-h-auto{height:auto}.gps-572941477710464116 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-572941477710464116 .tablet\:gp-flex-none{flex:none}.gps-572941477710464116 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-572941477710464116 .tablet\:gp-rotate-0,.gps-572941477710464116 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-572941477710464116 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-572941477710464116 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-572941477710464116 .tablet\:gp-flex-row{flex-direction:row}.gps-572941477710464116 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-572941477710464116 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-572941477710464116 .mobile\:\!gp-absolute{position:absolute!important}.gps-572941477710464116 .mobile\:gp-absolute{position:absolute}.gps-572941477710464116 .mobile\:gp-left-0{left:0}.gps-572941477710464116 .mobile\:gp-right-0{right:0}.gps-572941477710464116 .mobile\:gp-z-2{z-index:2}.gps-572941477710464116 .mobile\:gp-block{display:block}.gps-572941477710464116 .mobile\:\!gp-flex{display:flex!important}.gps-572941477710464116 .mobile\:\!gp-hidden{display:none!important}.gps-572941477710464116 .mobile\:gp-hidden{display:none}.gps-572941477710464116 .mobile\:gp-h-auto{height:auto}.gps-572941477710464116 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-572941477710464116 .mobile\:gp-flex-none{flex:none}.gps-572941477710464116 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-572941477710464116 .mobile\:gp-rotate-0,.gps-572941477710464116 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-572941477710464116 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-572941477710464116 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-572941477710464116 .mobile\:gp-flex-row{flex-direction:row}.gps-572941477710464116 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-572941477710464116 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-572941477710464116 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-572941477710464116 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-572941477710464116 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-572941477710464116 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-572941477710464116 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-572941477710464116 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gZ8QEs9qCq"}' data-id="gZ8QEs9qCq" id="gZ8QEs9qCq" data-same-height-subgrid-container class="gZ8QEs9qCq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:0px;--pt:15px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gLvxCS1BHH gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gRla6Gut2P"}' data-id="gRla6Gut2P" id="gRla6Gut2P" data-same-height-subgrid-container class="gRla6Gut2P gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gIyvb7Xo4t gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel gp-data='{"id":"gi1QqIvJiN","setting":{"animationMode":"ease-in","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n              <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z\"/>\n              </svg>\n              ","arrowCustomColor":"#000000","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["3/4","video-packout","front jpg","tech caddy","key clip","open - pocket view","water bottle - internal","water bottle - external","REPLACE -laptop - filled","open - top 1/2 way unzipped","air tag","Luggage pass","front pocket","back -3/4","side - right","side - left","REPLACE - Model","REPLACE - Model","model - back"],"controlOverContent":{"desktop":true},"dot":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16},"dotSize":{"desktop":12},"dotStyle":{"desktop":"inside","mobile":"inside","tablet":"inside"},"enableDrag":{"desktop":false,"mobile":true},"itemNumber":{"desktop":1,"mobile":1,"tablet":1},"label":true,"loop":{"desktop":false},"navigationEnable":{"desktop":true,"mobile":true,"tablet":true},"navigationStyle":{"desktop":"inside","mobile":"inside","tablet":"inside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"rtl":false,"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":false},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"hasActiveShadow":false,"itemPadding":{"desktop":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"playSpeed":500,"roundedContent":{"radiusType":"none"},"sizeSetting":{"desktop":{"height":"auto","shapeLinked":false,"width":"100%"}},"spacing":{"desktop":16}}}' data-id="gi1QqIvJiN" id="gp-root-carousel-gi1QqIvJiN" style="--jc:center" class="gp-group/carousel gp-w-full gp-flex">
      <div
        
        class="gi1QqIvJiN gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb-mobile:0px;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div class="gp-relative gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row" style="--h:100%;--h-tablet:100%;--h-mobile:100%;gap:16px">
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-gi1QqIvJiN gi1QqIvJiN gp-carousel-action-back gem-slider-previous gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--bg:transparent;--d:flex;--d-tablet:flex;--d-mobile:flex;--left:16px;--right:initial;--top:initial;--bottom:;--left-tablet:16px;--right-tablet:initial;--top-tablet:initial;--bottom-tablet:;--left-mobile:16px;--right-mobile:initial;--top-mobile:initial;--bottom-mobile:;--w:32px;--h:32px"
    >
      <style type="text/css">
      .gp-carousel-arrow-gi1QqIvJiN {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gi1QqIvJiN::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gi1QqIvJiN {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-gi1QqIvJiN::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gi1QqIvJiN {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-gi1QqIvJiN::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
      style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
    >
        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
  
    </button>
  
          <div id="gp-carousel-gi1QqIvJiN" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none gp-carousel-slider-gi1QqIvJiN mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full" style="--cg-mobile:16px;--cg-tablet:16px;--cg:16px">
            
    
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN gMHQXYTrYh"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px"
      data-index="0"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gQoXy41spB"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816473965 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gQoXy41spB"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-1_768x.jpg?v=1751029002" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-1_768x.jpg?v=1751029002" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-1_1024x.jpg?v=1751029002" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-1_1024x.jpg?v=1751029002" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:3/4;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN gHbgzidCJf"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px"
      data-index="1"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
       data-id="gLUEO8KYqc" class="gLUEO8KYqc !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--aspect:16/9;--aspect-tablet:custom;--aspect-mobile:custom">
      
  <gp-lite-html5-embed>
    
    <video
    id="gp-video-gLUEO8KYqc" title="Video" preload="metadata" data-src="https://cdn.shopify.com/videos/c/o/v/5cdc367b911e4ee09d8e9b6f400113f9.mp4" poster data-poster
      style="--aspect:16/9;--aspect-tablet:5/7;--aspect-mobile:5/7"
      class="gp-w-full gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      src=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/5cdc367b911e4ee09d8e9b6f400113f9.mp4" src="undefined" type="video/mp4"></source>
    </video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN gjr1VYDI99"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px"
      data-index="2"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gASeDwOvRw"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816473966 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gASeDwOvRw"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-2_768x.jpg?v=1751029002" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-2_768x.jpg?v=1751029002" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-2_1024x.jpg?v=1751029002" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-2_1024x.jpg?v=1751029002" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:3/4;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN goTWxka5WU"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="3"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gt8LpjpR6_"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816473966 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gt8LpjpR6_"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-14_768x.jpg?v=1751029002" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-14_768x.jpg?v=1751029002" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-14_1024x.jpg?v=1751029002" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-14_1024x.jpg?v=1751029002" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:3/4;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN gU85zrgc16"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="4"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gSAMu-KdkU"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816473966 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gSAMu-KdkU"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-9_768x.jpg?v=1751029001" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-9_768x.jpg?v=1751029001" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-14_1024x.jpg?v=1751029002" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-14_1024x.jpg?v=1751029002" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:3/4;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN gp_S-rKiUT"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="5"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gUAZwo7yNv"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816473967 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gUAZwo7yNv"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-5_768x.jpg?v=1751029001" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-5_768x.jpg?v=1751029001" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-5_1024x.jpg?v=1751029001" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-5_1024x.jpg?v=1751029001" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:3/4;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN gV4MmOkeN3"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="6"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gHgzJqSv2f"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816473967 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gHgzJqSv2f"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-13_768x.jpg?v=1751029002" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-13_768x.jpg?v=1751029002" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-13_1024x.jpg?v=1751029002" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-13_1024x.jpg?v=1751029002" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN gWjW58G2TO"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="7"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="g4ic4lwfqq"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816473968 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g4ic4lwfqq"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L-16_768x.jpg?v=1751304579" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L-16_768x.jpg?v=1751304579" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L-16_1024x.jpg?v=1751304579" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L-16_1024x.jpg?v=1751304579" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN gSNP4SE2xF"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="8"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gzlnrMsdao"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816473968 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gzlnrMsdao"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L-15_768x.jpg?v=1751128300" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L-15_768x.jpg?v=1751128300" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L-15_1024x.jpg?v=1751128300" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L-15_1024x.jpg?v=1751128300" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN gOn3D-2JQb"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="9"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gNBAyNVEyi"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816473969 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gNBAyNVEyi"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-8_768x.jpg?v=1751029001" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-8_768x.jpg?v=1751029001" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-8_1024x.jpg?v=1751029001" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-8_1024x.jpg?v=1751029001" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN gfrsFQBlX7"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="10"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="ggJhlZgwfe"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816473969 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ggJhlZgwfe"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Pack_V2-19_80aa7d06-4cd9-45f2-a636-3adf2f1614f1_768x.jpg?v=1745867010" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Pack_V2-19_80aa7d06-4cd9-45f2-a636-3adf2f1614f1_768x.jpg?v=1745867010" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Pack_V2-19_80aa7d06-4cd9-45f2-a636-3adf2f1614f1_1024x.jpg?v=1745867010" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Pack_V2-19_80aa7d06-4cd9-45f2-a636-3adf2f1614f1_1024x.jpg?v=1745867010" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN gNvBfvOKve"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="11"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="grse4Fcqkw"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816473970 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto grse4Fcqkw"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-12_768x.jpg?v=1751029002" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-12_768x.jpg?v=1751029002" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-12_1024x.jpg?v=1751029002" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-12_1024x.jpg?v=1751029002" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN gqSRI5JWEy"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="12"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="g_bwIr1Xl8"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816473970 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g_bwIr1Xl8"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-6_768x.jpg?v=1751029002" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-6_768x.jpg?v=1751029002" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-6_1024x.jpg?v=1751029002" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-6_1024x.jpg?v=1751029002" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN gZDOG0cWUJ"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="13"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gwW52Tk5Zr"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816473970 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gwW52Tk5Zr"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-10_768x.jpg?v=1751029002" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-10_768x.jpg?v=1751029002" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-10_1024x.jpg?v=1751029002" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-10_1024x.jpg?v=1751029002" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN gJwCxnPJum"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="14"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gxUI-hlpjS"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816473971 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gxUI-hlpjS"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-3_768x.jpg?v=1751028998" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-3_768x.jpg?v=1751028998" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-3_1024x.jpg?v=1751028998" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-3_1024x.jpg?v=1751028998" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN goyz0DCLxK"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="15"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="go3spzutFs"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816473971 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto go3spzutFs"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-4_768x.jpg?v=1751029002" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-4_768x.jpg?v=1751029002" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-4_1024x.jpg?v=1751029002" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter_Ballistic_20L-4_1024x.jpg?v=1751029002" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN gLwInEes2s"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="16"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gyYPjR5eyZ"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816473972 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gyYPjR5eyZ"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L_Model-3_768x.jpg?v=1751305017" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L_Model-3_768x.jpg?v=1751305017" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L_Model-3_1024x.jpg?v=1751305017" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L_Model-3_1024x.jpg?v=1751305017" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN gmuKxXrjQI"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="17"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="g6ZNb9j4jB"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816473972 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g6ZNb9j4jB"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L_Model-2_768x.jpg?v=1751305017" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L_Model-2_768x.jpg?v=1751305017" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L_Model-2_1024x.jpg?v=1751305017" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L_Model-2_1024x.jpg?v=1751305017" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gi1QqIvJiN gp-child-item-gi1QqIvJiN gNO3dXianP"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212"
      data-index="18"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gjYApVWqsI"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1753816473972 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gjYApVWqsI"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L_Model-1_768x.jpg?v=1751305018" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L_Model-1_768x.jpg?v=1751305018" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L_Model-1_1024x.jpg?v=1751305018" srcset="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Commuter-Ballistic-20L_Model-1_1024x.jpg?v=1751305018" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--objf-mobile:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-gi1QqIvJiN gi1QqIvJiN gp-carousel-action-next gem-slider-next gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--bg:transparent;--d:flex;--d-tablet:flex;--d-mobile:flex;--right:16px;--left:initial;--top:;--bottom:initial;--right-tablet:16px;--left-tablet:initial;--top-tablet:;--bottom-tablet:initial;--right-mobile:16px;--left-mobile:initial;--top-mobile:;--bottom-mobile:initial;--w:32px;--h:32px"
    >
      <style type="text/css">
      .gp-carousel-arrow-gi1QqIvJiN {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gi1QqIvJiN::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gi1QqIvJiN {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-gi1QqIvJiN::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gi1QqIvJiN {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-gi1QqIvJiN::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
      style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
    >
        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
  
    </button>
  
        </div>
        
    
        <div class="gp-carousel-dot-container gp-carousel-dot-container-gi1QqIvJiN gp-z-2 gp-flex gp-flex-1 gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-absolute gp-flex-row gp-left-0 gp-right-0 tablet:gp-absolute tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-absolute mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0" style="--bottom:16px;--bottom-tablet:16px;--bottom-mobile:16px;--d:flex;--d-tablet:flex;--d-mobile:flex">
          <!-- item render by js -->
        </div>
      
  
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-carousel-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-572941477710464116 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/erica-336/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=572941477542364276&sectionId=572941477710464116)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
