

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-561542774898295664.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-561542774898295664.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-561542774898295664.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-561542774898295664.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-561542774898295664.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-561542774898295664.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-561542774898295664.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-561542774898295664.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-561542774898295664.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-561542774898295664.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-561542774898295664.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-561542774898295664.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-561542774898295664.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-561542774898295664.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-561542774898295664.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-561542774898295664.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-561542774898295664.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-561542774898295664.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-561542774898295664.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-561542774898295664.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-561542774898295664.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-561542774898295664.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-561542774898295664.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-561542774898295664.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-561542774898295664.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-561542774898295664.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-561542774898295664.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-561542774898295664.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-561542774898295664.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-561542774898295664.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-561542774898295664.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-561542774898295664.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-561542774898295664.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-561542774898295664.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-561542774898295664.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-561542774898295664.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-561542774898295664.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-561542774898295664.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-561542774898295664.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-561542774898295664.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-561542774898295664.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-561542774898295664.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-561542774898295664.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-561542774898295664.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-561542774898295664.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-561542774898295664.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-561542774898295664.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-561542774898295664.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-561542774898295664.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-561542774898295664.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-561542774898295664.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-561542774898295664.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-561542774898295664.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-561542774898295664.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-561542774898295664.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-561542774898295664.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-561542774898295664.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-561542774898295664.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-561542774898295664.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-561542774898295664.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-561542774898295664.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-561542774898295664.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-561542774898295664.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-561542774898295664.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-561542774898295664.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-561542774898295664.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-561542774898295664.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-561542774898295664.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-561542774898295664.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-561542774898295664.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-561542774898295664.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-561542774898295664.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-561542774898295664.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-561542774898295664.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-561542774898295664.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-561542774898295664.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-561542774898295664.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-561542774898295664.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-561542774898295664.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-561542774898295664.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-561542774898295664.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-561542774898295664.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-561542774898295664 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-561542774898295664 .gp-relative{position:relative}.gps-561542774898295664 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-561542774898295664 .gp-mb-0{margin-bottom:0}.gps-561542774898295664 .gp-inline-block{display:inline-block}.gps-561542774898295664 .gp-flex{display:flex}.gps-561542774898295664 .gp-grid{display:grid}.gps-561542774898295664 .gp-contents{display:contents}.gps-561542774898295664 .\!gp-hidden{display:none!important}.gps-561542774898295664 .gp-hidden{display:none}.gps-561542774898295664 .gp-h-auto{height:auto}.gps-561542774898295664 .gp-h-full{height:100%}.gps-561542774898295664 .gp-w-full{width:100%}.gps-561542774898295664 .gp-max-w-full{max-width:100%}.gps-561542774898295664 .gp-flex-none{flex:none}.gps-561542774898295664 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-561542774898295664 .gp-flex-col{flex-direction:column}.gps-561542774898295664 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-561542774898295664 .gp-duration-200{transition-duration:.2s}.gps-561542774898295664 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-561542774898295664 .tablet\:\!gp-hidden{display:none!important}.gps-561542774898295664 .tablet\:gp-hidden{display:none}.gps-561542774898295664 .tablet\:gp-h-auto{height:auto}.gps-561542774898295664 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-561542774898295664 .mobile\:\!gp-hidden{display:none!important}.gps-561542774898295664 .mobile\:gp-hidden{display:none}.gps-561542774898295664 .mobile\:gp-h-auto{height:auto}.gps-561542774898295664 .mobile\:gp-flex-none{flex:none}}.gps-561542774898295664 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gl5ahtIO8U"}' data-id="gl5ahtIO8U" id="gl5ahtIO8U" data-same-height-subgrid-container class="gl5ahtIO8U gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--pt:var(--g-s-5xl);--pl:15px;--pb:var(--g-s-5xl);--pr:15px;--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:var(--g-s-4xl);--pr-mobile:15px;--pt-tablet:var(--g-s-5xl);--pl-tablet:15px;--pb-tablet:var(--g-s-5xl);--pr-tablet:15px;--cg:46px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gjHM_Ra3Sc gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gIn8Kit9Jl"}' data-id="gIn8Kit9Jl" id="gIn8Kit9Jl" data-same-height-subgrid-container class="gIn8Kit9Jl gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:0px;--cg:46px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gqt-igKWHG gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g8pBOFTvS7"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-xl);--ta:left"
      class="gp-group/image gp-relative force-publish-1753816313792 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g8pBOFTvS7"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Section-1_Sustainabililty_1024x.jpg?v=1648213555" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTY3IiBoZWlnaHQ9IjU2NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTY3LTU2NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTY3IiBoZWlnaHQ9IjU2NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTY3IiBoZWlnaHQ9IjU2NyIgZmlsbD0idXJsKCNnLTU2Ny01NjcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NjciIHRvPSI1NjciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Section-1_Sustainabililty_1024x.jpg?v=1648213555" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTY3IiBoZWlnaHQ9IjU2NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTY3LTU2NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTY3IiBoZWlnaHQ9IjU2NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTY3IiBoZWlnaHQ9IjU2NyIgZmlsbD0idXJsKCNnLTU2Ny01NjcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NjciIHRvPSI1NjciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Section-1_Sustainabililty.jpg?v=1648213555" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTY3IiBoZWlnaHQ9IjU2NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTY3LTU2NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTY3IiBoZWlnaHQ9IjU2NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTY3IiBoZWlnaHQ9IjU2NyIgZmlsbD0idXJsKCNnLTU2Ny01NjcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NjciIHRvPSI1NjciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Section-1_Sustainabililty.jpg?v=1648213555"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grzqnQcAPK"
        class="grzqnQcAPK"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816313794"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrzqnQcAPK_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gllxu5dFW7"
        class="gllxu5dFW7"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:var(undefined);--mb-mobile:var(--g-s-3xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816313795"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggllxu5dFW7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gnaYxTz7sg gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEEAbR6H6E"
        class="gEEAbR6H6E"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816313796"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEEAbR6H6E_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMKWzBG2FM"
        class="gMKWzBG2FM"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:140px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816313797"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMKWzBG2FM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="guU3f7q2KE"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb-mobile:var(--g-s-xl);--ta:left"
      class="gp-group/image gp-relative force-publish-1753816313798 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto guU3f7q2KE"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Sustainble_Future-LR_1024x.jpg?v=1652138136" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc4NiIgaGVpZ2h0PSIxMzAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzg2LTEzMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3ODYiIGhlaWdodD0iMTMwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc4NiIgaGVpZ2h0PSIxMzAwIiBmaWxsPSJ1cmwoI2ctMTc4Ni0xMzAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc4NiIgdG89IjE3ODYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Sustainble_Future-LR_1024x.jpg?v=1652138136" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc4NiIgaGVpZ2h0PSIxMzAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzg2LTEzMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3ODYiIGhlaWdodD0iMTMwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc4NiIgaGVpZ2h0PSIxMzAwIiBmaWxsPSJ1cmwoI2ctMTc4Ni0xMzAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc4NiIgdG89IjE3ODYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Sustainble_Future-LR.jpg?v=1652138136" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc4NiIgaGVpZ2h0PSIxMzAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzg2LTEzMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3ODYiIGhlaWdodD0iMTMwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc4NiIgaGVpZ2h0PSIxMzAwIiBmaWxsPSJ1cmwoI2ctMTc4Ni0xMzAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc4NiIgdG89IjE3ODYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0563/8802/6402/files/Sustainble_Future-LR.jpg?v=1652138136"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqfmmnuUbk"
        class="gqfmmnuUbk"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:var(--g-s-xl);--mb-mobile:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816313799"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqfmmnuUbk_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glyP9pdC-o"
        class="glyP9pdC-o"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:var(--g-s-3xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816313800"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglyP9pdC-o_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-561542774898295664 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/erica-336/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=561542765016515440&sectionId=561542774898295664)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggrzqnQcAPK_text","label":"ggrzqnQcAPK_text","default":"If we protect the planet, it will protect us. It's symplº"},{"type":"html","id":"ggllxu5dFW7_text","label":"ggllxu5dFW7_text","default":"<p><span style=\"color:rgb(0,0,0);font-size:18px;\">Sympl, timeless designs that are built tough offer a unique value proposition to our users, the ability to both remain relevant through 10 different settings or 4 different trend cycles, while also providing the adaptability to flow through various landscapes in adventure or business, from New York City to Mt. Kilimanjaro. Our products defy the boundaries of normal product design and features to give you</span><br><span style=\"color:rgb(0,0,0);font-size:18px;\">the most possible use cases in the short term, while also seamlessly transitioning through any landscape you come across.</span></p>"},{"type":"html","id":"ggEEAbR6H6E_text","label":"ggEEAbR6H6E_text","default":"<strong>Sustainable at our core.</strong>"},{"type":"html","id":"ggMKWzBG2FM_text","label":"ggMKWzBG2FM_text","default":"<p><span style=\"color:rgb(0,0,0);font-size:18px;\">Our passion for sustainability drives everything we do. We know this is important to you, so we continually challenge our designs, materials, manufacturing, and process to waste less and result in gear that lasts longer. The ultimate sustainability is gear that last longer, which is why we focus on timeless, functional designs, built with durable materials. Our products will feel right and fit well in any environment – whether 10 or 20 years from now.</span></p>"},{"type":"html","id":"ggqfmmnuUbk_text","label":"ggqfmmnuUbk_text","default":"<p>Our Mission &amp; Vision</p>"},{"type":"html","id":"gglyP9pdC-o_text","label":"gglyP9pdC-o_text","default":"<p>Coffee's mission is to offer love and hope to those in need through funds from a great cup of coffee. We want to inspire and educate our coffee lovers in ways that enhance their experience with us and encourage them to be an outlet of hope for others.&nbsp;<br><br>We want to create a coffee culture that is built around quality, sociability, and affordability so that everyone can enjoy our product and share in our outreach. Our goal is to continue to grow our business in ways that will allow us to give more, this will include things like scholarships for local graduating seniors, food programs, and much more! We have BIG plans for coffee and appreciate you joining us on this journey!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
