

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-555292988470068034.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-555292988470068034.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-555292988470068034.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-555292988470068034.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-555292988470068034.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-555292988470068034.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-555292988470068034.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-555292988470068034.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-555292988470068034.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-555292988470068034.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-555292988470068034.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-555292988470068034.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-555292988470068034.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-555292988470068034.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-555292988470068034.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-555292988470068034.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-555292988470068034.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-555292988470068034.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-555292988470068034.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-555292988470068034.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-555292988470068034.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-555292988470068034.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-555292988470068034.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-555292988470068034.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-555292988470068034.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-555292988470068034.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-555292988470068034.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-555292988470068034.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-555292988470068034.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-555292988470068034.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-555292988470068034.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-555292988470068034.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-555292988470068034.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-555292988470068034.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-555292988470068034.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-555292988470068034.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-555292988470068034.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-555292988470068034.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-555292988470068034.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-555292988470068034.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-555292988470068034.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-555292988470068034.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-555292988470068034.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-555292988470068034.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-555292988470068034.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-555292988470068034.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-555292988470068034.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-555292988470068034.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-555292988470068034.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-555292988470068034.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-555292988470068034.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-555292988470068034.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-555292988470068034.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-555292988470068034.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-555292988470068034.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-555292988470068034.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-555292988470068034.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-555292988470068034.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-555292988470068034.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-555292988470068034.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-555292988470068034.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-555292988470068034.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-555292988470068034.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-555292988470068034.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-555292988470068034.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-555292988470068034.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-555292988470068034.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-555292988470068034.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-555292988470068034.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-555292988470068034.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-555292988470068034.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-555292988470068034.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-555292988470068034.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-555292988470068034.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-555292988470068034.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-555292988470068034.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-555292988470068034.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-555292988470068034.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-555292988470068034.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-555292988470068034.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-555292988470068034.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-555292988470068034 .gp-relative{position:relative}.gps-555292988470068034 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-555292988470068034 .gp-mb-0{margin-bottom:0}.gps-555292988470068034 .gp-flex{display:flex}.gps-555292988470068034 .gp-grid{display:grid}.gps-555292988470068034 .\!gp-hidden{display:none!important}.gps-555292988470068034 .gp-hidden{display:none}.gps-555292988470068034 .gp-max-w-full{max-width:100%}.gps-555292988470068034 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-555292988470068034 .gp-flex-col{flex-direction:column}.gps-555292988470068034 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555292988470068034 .gp-duration-200{transition-duration:.2s}.gps-555292988470068034 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-555292988470068034 .tablet\:\!gp-hidden{display:none!important}.gps-555292988470068034 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-555292988470068034 .mobile\:\!gp-hidden{display:none!important}.gps-555292988470068034 .mobile\:gp-hidden{display:none}}.gps-555292988470068034 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g2Vq3RVIO2"}' data-id="g2Vq3RVIO2" id="g2Vq3RVIO2" data-same-height-subgrid-container class="g2Vq3RVIO2 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--pt:var(--g-s-2xl);--pl:150px;--pb:var(--g-s-2xl);--pr:150px;--mt-mobile:-10px;--pt-mobile:var(--g-s-2xl);--pl-mobile:32px;--pb-mobile:var(--g-s-2xl);--pr-mobile:32px;--pt-tablet:var(--g-s-2xl);--pl-tablet:50px;--pb-tablet:var(--g-s-2xl);--pr-tablet:50px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gNh2KF5DiX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0zzT3H-g8"
        class="g0zzT3H-g8"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:var(--g-s-l);--pl:15px;--pr:15px;--mb-mobile:10px;--pl-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753816338737"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-BebasKai, 'BebasKai'), var(--g-font-heading, heading);--weight:400;--ls:0px;--size:50px;--size-tablet:46px;--size-mobile:33px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:4px;--pb-mobile:4px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0zzT3H-g8_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g0zzT3H-g8">
        .g0zzT3H-g8 {

}
.g0zzT3H-g8 p {

}
      </style>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px" class="gp-C4ThKfC ">
      
    <div
      
      style="--ta:center"
    >
      <div>
        {% assign widget = 'review_widget' %}
        {% case widget %}
          {% when "single_product_preview_badge" %}
            <div style='{{ jm_style }}' class='jdgm-widget jdgm-preview-badge'  data-id='{{ product.id }}'>
              {{ product.metafields.judgeme.badge }}
            </div>
          {% when "review_widget" %}
            <div style='clear:both'></div>
            <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-id='{{ product.id }}'>
                {{ product.metafields.judgeme.widget }}
            </div>
          {% when "reviews_carousel" %}
            <div class='jdgm-carousel-wrapper'>
              {% assign jm_metafields = shop.metafields.judgeme %}
              <div class='jdgm-carousel-title-and-link'>
                <h2 class='jdgm-carousel-title'>Let customers speak for us</h2>
                <span class='jdgm-all-reviews-rating-wrapper' href='javascript:void(0)'>
                  <span style='display:block'  data-score='{{ jm_metafields.all_reviews_rating }}' class='jdgm-all-reviews-rating' aria-label='{{ jm_metafields.all_reviews_rating }} stars' tabindex='0' role='img'></span>
                  <span style='display: block' class='jdgm-carousel-number-of-reviews' data-number-of-reviews='{{ jm_metafields.all_reviews_count }}'>
                    from {{ shop.metafields.judgeme.all_reviews_count }} reviews
                  </span>
                </span>
              </div>
              {{ jm_metafields.featured_carousel }}
            </div>
          {% when "reviews_text" %}
            <div style='text-align: center'>
              <div class='jdgm-widget jdgm-all-reviews-text'>
                <a href='javascript:void(0)'>
                  <span data-score='{{ shop.metafields.judgeme.all_reviews_rating }}' class='jdgm-all-reviews-rating'></span>
                  <span class='jdgm-all-reviews-text__text' data-score='{{ shop.metafields.judgeme.all_reviews_rating }}' data-number-of-reviews='{{ shop.metafields.judgeme.all_reviews_count }}'>
                    Customers rate us {{ shop.metafields.judgeme.all_reviews_rating | round: 1 }}/5 based on {{ shop.metafields.judgeme.all_reviews_count }} reviews.
                  </span>
                </a>
              </div>
            </div>
          {% when "section_for_medals" %}
            {{ shop.metafields.judgeme.medals }}
          {% when "ugc_media_grid" %}
            <div class='jdgm-widget jdgm-ugc-media-wrapper'>
              {{ shop.metafields.judgeme.ugc_media_grid }}
            </div>
          {% when "verified_reviews_count_badge" %}
            <div style='clear:both'></div>
            <div style='text-align: center'>
              <a class='jdgm-verified-count-badget' href='javascript:void(0)'>
                {{ shop.metafields.judgeme.verified_badge }}
              </a>
            </div>
        {% endcase %}
      </div>
    </div>
  
      </div>
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-555292988470068034 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/erica-336/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=555292988318679874&sectionId=555292988470068034)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg0zzT3H-g8_text","label":"gg0zzT3H-g8_text","default":"<p>WHAT OUR COMMUNITY SAYS</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
